
body {
	font-family: Helvetica; 
	color: black; 
	}

h1 { 
	font-family: Helvetica; 
	font-size: 25px; 
	color: red;
}

#background{

	background: url();
	background-image: url(img/AMERICA.png);
	width:900px;
	height:300px;
	position: center;


}

#eddie{

	background-image: url();
	width: 800px;
	height: 400px;
	
}

#exercises{

	color: #3878FE;
}

#projects{

	color: #3878FE;
}