
body {
	font-family: Helvetica; 
	color: black; 
	}

h1 { 
	font-family: Helvetica; 
	font-size: 25px; 
	color: red;
}

#background{

	background: url();
	background-image: url(img/HOUSE2.gif);
	width:1200px;
	height:800px;
	

}

#exercises{

	color: #3878FE;
}

#projects{

	color: #3878FE;
}