* { margin: 0px; padding: 0px; }

body {
	background: black;
	background: url(img/circle.png);
	font-family: Futura;
	font-size: 100px;
}

#desktop{
	opacity: 1;
	color: white;
	transform: rotate(-25deg);

}

#tablet, #mobile {
	opacity: 0;
}

/* iPad */
@media (min-width: 668px) and (max-width: 1024px) { 
	body {
		background: url(img/square.png);
		background-size: cover;
		color: white;
		font-family: Futura;
		font-size: 10px;
		font-style:

	}

	#tablet{
		opacity: 1;
		width: 5px;
  		height: 5px;
  		transform: scale(20) skew(20deg);

	}

	#desktop, #mobile {
		opacity: 0;
	}

}

/* iPhone 6*/
@media (min-width: 375px) and (max-width: 667px) { 
	
	body {
		background: white;
		background: url(img/triangle.png);
		background-size: cover;
		font-family: Futura;
		font-size: 45px;
		font-style: bold;
		color: white;
	}

	#mobile{
		opacity: 1;
		transform: rotate(340deg);
	}

	#desktop, #tablet {
		opacity: 0;
	}
}
