a   {margin: 40px;}
 div{ 
	height: 100px; 
	width: 100px; 
	border: 4px solid red;
	/*position: absolute;*/ 
	top: 20px; 
	left: 20px;
	margin: 20px;

}
#inside {
	font-size: 75px;
	color: blue;
	position: fixed;
}
#inside2 {
	font-size: 75px;
	color: yellow;
	position: fixed;
	top: 150px;

/*}
#inside3 {
	font-size: 75px;
	color: blue;
	position: fixed;
	top: 282px;

}
#inside4 {
	font-size: 75px;
	color: yellow;
	position: fixed;
	top: 412px;*/

}
#box-2 {
	height: 200px; 
	width: 200px; 
	border: 4px dotted blue;
	/*position: absolute;*/ 
	top: 20px; 
	left: : 20px;
	margin: 20px;

}


#insidetext {
	font-size: 75px;
	font-family: Futura;
	color: yellow;
}

#box-2:hover {
	background: yellow; 
	opacity: 40%;
	cursor: help;
	cursor: s-resize; 
}

#box-3 {
	height: 300px; 
	width: 300px; 
	border: 4px solid yellow;
	/*position: absolute;*/  
	top: 20px; 
	left: : 20px;
	margin: 20px;

}

#box-3:hover {
	background: yellow;
	cursor: help;

}

#box-3:hover img {
	opacity: 1;

}

#box-3 img {
	opacity: 0;
	margin-left: -100px;
	margin-top: : -200px;

}

p   {font-family: Futura; padding: 10px; 
	font-size: 50px; 
	line-height: 40px;
	color: white;
	margin-top: -900px;
	 
}


}
#box-4 {
	height: 200px;
	width: 200px;
	border: 4px dotted red;
}

}
#smile {
	height: 200px;
	width: 200px;
	font-family: Futura;
	font-size: 75px;
	color: black;
}
