body {
    text-align: left;
    font-family: Helvetica;
    background-color: yellow;
    color: black;
}

#title{

	padding-left: 10px;
	position: fixed;
	top: 20px;
	left: 50px;
	transform: rotate(90deg);
	transform-origin: top left;
}

#cat_diagram{
	padding: 40px;
	margin left: 25px;
    -webkit-transition: width 2s;
    transition: width 2s;
}
