body {
    text-align: left;
    font-family: Helvetica;
    background-color: yellow;
    color: black;
}

#title{

	padding-left: 10px;
	position: fixed;
	top: 20px;
	left: 50px;
	transform: rotate(90deg);
	transform-origin: top left;
}

#artbord1: hover img {
	
	opacity: 1;
	transition: transform .2s ease-in-out;
	padding: 40px;
	margin left: 25px;
    
}

#artbord2: hover img {
	
	opacity: 1;
	transition: transform .2s ease-in-out;
	padding: 40px;
	margin left: 25px;
    
}

#artbord3: hover img {
	
	opacity: 1;
	transition: transform .2s ease-in-out;
	padding: 40px;
	margin left: 25px;
    
}