body {
	height: 100vh;
	width: 400vw;
}

#title{

	padding-left: 10px;
	position: fixed;
	top: 0px;
	left: 100px;
	transform: rotate(90deg);
	transform-origin: top left;
	font-size: 65px;
	font-family: consolas, "andale mono";
	z-index: 0;
}

#subtitle{

	padding-left: 10px;
	position: fixed;
	top: 50px;
	left: 100px;
	/*transform: rotate(180deg);
	transform-origin: top;*/
	font-size: 20px;
	font-family: consolas, "andale mono";
	color: white;
}
#trail{
	
	position: absolute;
	height: 600px;
	width: 600px;
	margin-left: -300px;
	margin-top: -300px;
	z-index: 0;
}

#info{

	padding-top: 250px;
	left: 635px;
	width: 300px;
	height:300px;
	position: absolute;
	font-size: 14px;
	font-family: consolas, "andale mono";
	color: white;
	z-index: 5;

}

#info2{

	padding-top: 200px;
	left: 635px;
	position: absolute;
	font-size: 15px;
	font-family: consolas, "andale mono";
	color:white;
	z-index: 4;

}

#info3{

	padding-top: 250px;
	left: 1600px;
	width: 300px;
	height:300px;
	position: absolute;
	font-size: 14px;
	font-family: consolas, "andale mono";
	color: white;
	z-index: 5;
}

#info4{

	padding-top: 250px;
	left: 2600px;
	width: 300px;
	height:300px;
	position: absolute;
	font-size: 14px;
	font-family: consolas, "andale mono";
	color: white;
	z-index: 5;
}
#info5{

	padding-top: 200px;
	left: 3700px;
	position: absolute;
	font-size: 15px;
	font-family: consolas, "andale mono";
	color: white;
	z-index: 4;
}
#info6{

	padding-top: 250px;
	left: 3600px;
	width: 300px;
	height:300px;
	position: absolute;
	font-size: 14px;
	font-family: consolas, "andale mono";
	color: white;
	z-index: 5;
}
#info7{

	padding-top: 250px;
	left: 4600px;
	width: 300px;
	height:300px;
	position: absolute;
	font-size: 14px;
	font-family: consolas, "andale mono";
	color: white;
	z-index: 5;
}
#corner2{

	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 6;
}


#type{

	font-family: consolas, "andale mono";
	font-color:black;
	font-size:100px;
	height: 100px;
	width:300px;
	position: fixed;
	padding-top: 75px;
	padding-left: px;
}

#paper{

	position: fixed;
	top: 50px;
	left: 400px;
	z-index: ;
}

#X{

	position: fixed;
	bottom: 40px;
	left: 20px;
	z-index: 1;
}

#mark{

	position: fixed;
	padding-top: 200px;
	left: 3200px;
	width: 300px;
	height:300px;
	position: absolute;
}




