body {
    text-align: left;
    font-family: Helvetica;
    background-color: white;
    color: red;
    position:;
    transform: rotate();
    font-size: 22px;
}

/*#kitty.png {

	padding-left: 200px;
	margin-top: 100px;
	margin-left: 100px;
	position: absolute;
}

#burger.png {

	position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;

}	*/

#icons2.png {

	position: absolute;
	margin-top: 100px;
	margin-left: 100px;
}


#text {

	font-family: Helvetica;
	font-size: 50px;
	color: red;
	text-align: left;
	position:;
	opacity: 1;
}

#text:hover {

	background-color: ;
	transform: rotate();
	opacity: ;
	transition-delay: 1s;
	transition-property: ease-in;
}

}
#title {
  text-align:center;
}
.container {
  width:90%;
  margin:0 auto;
}
input[type="radio"] {
    display:none;
}
label {
  width:23%;
  float:left;
  text-align:center;
  background:#ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color:#222222;
  padding:0.5%;
  margin:0.5%;
  margin-bottom:30px;
  cursor:pointer;
}
input[type="radio"][id="blue"]:checked + label {
  background:#BE1E2D;
}
input[type="radio"][id="blue"]:checked ~ .red, input[type="radio"][id="blue"]:checked ~ .green {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="red"]:checked + label {
  background:#FFCE00;
}
input[type="radio"][id="red"]:checked ~ .blue, input[type="radio"][id="red"]:checked ~ .green {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="green"]:checked + label {
  background:#00A79D;
}
input[type="radio"][id="green"]:checked ~ .blue, input[type="radio"][id="green"]:checked ~ .red {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

.tile {
  width:23%;
  height:100px;
  float:left;
  transition:all 1s;
  margin:0.5%;
  padding:0.5%;
}
.green {
  background:white;
}
.blue {
  background:white;
}
.red {
  background:white;
}