body {
    text-align: left;
    font-family: Helvetica;
    background-color: white;
    color: red;
    position:;
    transform: rotate();
}

#kitty.png {

	padding-left: 200px;
		
}

#text {

	font-family: Helvetica;
	font-size: 50px;
	color: red;
	text-align: left;
	position:;
	opacity: 1;
}

#text:hover {

	background-color: ;
	transform: rotate();
	opacity: ;
	transition-delay: 1s;
	transition-property: ease-in;
}